gesture-model-pipeline/data-collection/.parcel-cache
gesture-model-pipeline/data-collection/node_modules
gesture-model-pipeline/data-collection/dist
gesture-model-pipeline/data-collection/package-lock.json
gesture-model-pipeline/build-model/venv
gesture-model-pipeline/build-model/node_modules
gesture-model-pipeline/build-model/package-lock.json
gesture-model-pipeline/data-collection/.parcel-cache
edwin-io/.parcel-cache
edwin-io/node_modules
edwin-io/dist
edwin-io/package-lock.json