html {
  border-radius: 10px;
}

body {
  width: 220px;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .2s;
}

input:checked + .slider {
  background-color: #4cd964;
}

input:checked + .slider::before {
  transform: translateX(22px);
}